*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;    
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #f7f3f3;
}
.logo{
    padding-left: 2.5em;
}
.logo-text{
    font-size: 2em;
}
.menubar{
    width: 45%;
    margin-left: 8.5em; 
}
.list{
    display: flex;
    justify-content: space-around;
}
.list-items a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
    padding: 12px;
}
.icon-bar{
    
    color: black;
}
.icon-bar a{
    justify-content: space-between;
    color: black;
    font-size: 0.9em;
}
.icon-bar a:hover{
    color:rgb(88, 183, 228) ;
}
.list-items a:hover{
    color: rgb(88, 183, 228);
}
.hamburger{
    height:28px;
    width: 32px;
    display: none;
}
.bar{
    display: block;
    background: black;
    height: 3px;
    margin: 5px auto;
    width: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #ececec;
}
#Background{
    background-image: url(Background.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: rgb(48,160,244);*/
}
#header{
    text-align: center;
  
    align-items: center;
    width: 20em;
    background-color: rgba( 138,43 ,226 , 0.6);
    margin-right: auto; margin-left: auto;
    padding: 1px;
    box-shadow: 0px 0px 5px 2px black;
}
#visions{ 
   
      float: left;
   
    

    width: 20em;
    

    margin-top:70px;
    
    margin-left:30px;
    background-color: rgba( 138,43 ,226 , 0.6);
    padding:30px;
    
    box-shadow: 0px 0px 5px 2px black;
    
    

}
#vheader{
    text-align: center;

}
#vcontent{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    
    
}
#select{
  
      float: left;
    
    

    width:20em;
    margin-top: 180px;

    margin-left:  30px; 
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black;
    

}
#mside{
    text-align: center;
   
}
#mcreate{ 
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

#research{
    float: right;
    width: 20em;
    margin-top: 60px;
    margin-right: 30px;
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black;

}
#rside{
    text-align: center;
}
#review{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}
#survey{
    float:left;
    width:50em;
    margin-top: 180px;
    margin-left: 30px;
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black ;
}
#uside{
    text-align: center;
}
#side{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

    
    
