#Background{
    background-image: url(Images/Background.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    /*background-color: rgb(48,160,244);*/
}
#header{
    text-align: center;
  
    align-items: center;
    width: 20em;
    background-color: rgba( 138,43 ,226 , 0.6);
    margin-right: auto; margin-left: auto;
    padding: 1px;
    box-shadow: 0px 0px 5px 2px black;
}
#visions{ 
   
      float: left;
   
    

    width: 20em;
    

    margin-top:70px;
    
    margin-left:30px;
    background-color: rgba( 138,43 ,226 , 0.6);
    padding:30px;
    
    box-shadow: 0px 0px 5px 2px black;
    
    

}
#vheader{
    text-align: center;

}
#vcontent{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    color: white;
    
    
}
#select{
  
      float: left;
    
    

    width:20em;
    margin-top: 180px;

    margin-left:  30px; 
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black;
    

}
#mside{
    text-align: center;
   
}
#mcreate{ 
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

#research{
    float: right;
    width: 20em;
    margin-top: 60px;
    margin-right: 30px;
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black;

}
#rside{
    text-align: center;
}
#review{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}
#survey{
    float:left;
    width:50em;
    margin-top: 180px;
    margin-left: 30px;
    background-color: rgba(120, 12, 192, 0.6);
    padding: 30px;
    box-shadow: 0px 0px 5px 2px black ;
}
#uside{
    text-align: center;
}
#side{
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: white;
}

    
    
