*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;    
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #ececec;
}
.logo{
    padding-left: 2.5em;
}
.logo-text{
    font-size: 2em;
}
.menubar{
    width: 45%;
    margin-left: 8.5em; 
}
.list{
    display: flex;
    justify-content: space-around;
}
.list-items a{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
    padding: 12px;
}
.icon-bar{
    
    color: black;
}
.icon-bar a{
    justify-content: space-between;
    color: black;
    font-size: 0.9em;
}
.icon-bar a:hover{
    color:rgb(88, 183, 228) ;
}
.list-items a:hover{
    color: rgb(88, 183, 228);
}
.hamburger{
    height:28px;
    width: 32px;
    display: none;
}
.bar{
    display: block;
    background: black;
    height: 3px;
    margin: 5px auto;
    width: 25px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: #ececec;
}

body{
background-color: #ececec;

}
.section1{
    height: 90%;
    width: 100%;
    z-index: 5;
    bottom: 50%;
   
}
.section1 .banner{
    height: 170px;
    width: 600px;
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 8;

}

.banner h1{
    font-size: 2em;
}
.container span{
    color: #3711f7;
}
.container{
    font-family: sans-serif;
    font-size: 25px;
    padding: none;
    margin: 50px;
}
.container .box{
    position: relative;
    width: calc(400px - 25px);
    height: calc(300px- 25px);
    margin: 25px;
    float: left;
    box-sizing: border-box;
    background: #96dbfc;
    border-radius: 5px;
}
.container .box img{
    justify-content: center;
    margin: 25px;
}
.container .box:hover{
    background-color: #bbb;

}
.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgba(14, 13, 13, 0.8);
}
.slideshow-container {
    max-width: 1500px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}